<strong> Olá, {{ student_first_name }}!</strong>
<p>Um reponponsável da academia acabou de responder a sua pergunta.</p>
<p>Veja abaixo as informações:</p>
<p>
  <strong>Data da pergunta: </strong> {{ created_at }} <br />
  <strong>Data da Resposta: </strong> {{ answered_at }} <br />
  <strong>Pergunta: </strong> {{ question }} <br />
  <strong>Resposta: </strong> {{ answer }} <br />

  <br />
  <small>
    Esperamos ter ajudado, conte conosco sempre que precisar!
  </small>
</p>
