<strong> Olá, {{ student_first_name }}!</strong>
<p>Estamos muito felizes por você realizar a matrícula conosco.</p>
<p>Veja abaixo os detalhes do seu plano contratado:</p>
<p>
  <strong>Nome do aluno: </strong> {{ student }} <br />
  <strong>Plano: </strong> {{ plan }} <br />
  <strong>Quantidade de Meses: </strong> {{ duration }} <br />
  <strong>Data de início: </strong> {{ start_date }} <br />
  <strong>Data de fim: </strong> {{ end_date }} <br />
  <strong>Valor Total a Pagar: </strong> {{ price }} <br />

  <br />
  <small>
    Conte conosco sempre que precisar!
  </small>
</p>
